html{
box-sizing: border-box;
font-size: 16px;
font-family: "inter" sans-serif;
color: var(--black);
scroll-behavior: smooth;



button {
    width: 100px;
    
}
.profilepic{
    width: 100px;
    
}
h1{

}
.background{
/* transparent picture behind profilepicture/logo*/

}