html{
box-sizing: border-box;
font-size: 18px;
font-family: "inter", sans-serif;
color: var(--black);
scroll-behavior: smooth;
}

.mydiv{
    margin: 0px;
    padding: 0px;
    border: 20px solid #536B85;
    box-sizing: border-box;
    min-height: 100vh;
}
.body{ 
    background-color: white
   
    } 
 
@media {}

p {
    color: #4D3C2A;
    text-indent: 50px;
}

button {
    width: 100px;
    
}
.overlay{
    width: 100px;
    
}


.image-container{
    position:relative;
    width: 5000px;
    height: 200px;
}

.hero{
    background-color: #ACA59B;
    padding: 56px 16px;
    border-radius: 10px;
    margin: 5px 10px;
   
}
.image-container .backgroundimg{
    width: 28%;
    height: 100%;
    display: block;
}

.overlay{
    position: relative;
    top: 0;
    left: 0;
    width: 2%;
    height: 60%;
    pointer-events: none;
    
}

h1 {
    background-color: #ACA59B;
    opacity: 0.6;
    color: #851717;
}


.btn.img-only{
    border: none;
    cursor: pointer;
    transition: transform 0.2s ease;
    background-color: none;
    flex-direction: row;
    justify-content: center;
}

.btn.img-only img{
   width: 180px;
   height: 180px;
   border-radius: 50%;
   box-shadow: 2px 4px;
   color:rgb(189, 187, 187)
}


.flex{
    display: flex;
    flex-direction:row; 
    justify-content: center;

}


.container{
    display: flex;
    flex-direction:row; 
    justify-content: center;

}

.flex-container {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-evenly;
  flex-direction:row
  

}

.flex-container > div {
  background-color: #f1f1f1;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
}


.icon{
    display: inline-flex;
    flex-direction:row; 
    justify-content: center;
    width: 40px;
    height: 40px;

}

.removedot{
    list-style-type: none;
}

/* there are a lot of classes that I'm not sure if it's attached to anything, but I'll review soon */